div{
    margin:20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 100px;
    grid-gap:20px;
}
img{
    float:left;
    border-radius: 15px;
    box-sizing: border-box;
}
